name: Semantic PR Title

on: pull_request_target

env:
  THING_I_NEED: ${{ secrets.MY_SUPER_SECRET }}

jobs:
  script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .github/scripts/script.sh

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: dequelabs/semantic-pr-title@v1.0.0
